BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AccessModifierOffset: -4
LambdaBodyIndentation: OuterScope
SortIncludes: false
AlignAfterOpenBracket: DontAlign